<!-- Pagination Links-->

<nav aria-label="Users">
<ul class="pagination">
<!-- Loop through the number of pages to display a link for each-->
{% for page_num in coders.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->

      {% if coders.page == page_num %}
            <li class="page-item active">
            <a class="page-link" href="{{ url_for('users_by_pagination', page=page_num) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            </li>
      {% else %}
            <li class="page-item">
            <a class="page-link" href="{{ url_for('users_by_pagination', page=page_num) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            </li>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
</ul>
</nav>
</div>
